<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Express Dev Skills</title>
</head>
<body>
    <h1>Express Dev Skills</h1>
    <ul>
      <% skills.forEach(function(s) { %>
        <li>
          <%= s.id %>
            - 
          <%= s.name %>
            - 
          <%= s.need ? 'yes' : 'no' %>
        </li>
      <% }); %>
    </ul>
    <a href="/skills/new">Add New Skill</a>
  </body>
</html>